@model ApplicationName.Models.ViewModel.LoginSignUpViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-primary rounded">

            <div class="text-center">
                <h1 class="text-info">Login Here..</h1>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Login">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input type="text" asp-for="UserName" class="form-control" placeholder="Enter name" autocomplete="off" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="text" asp-for="Password" class="form-control" placeholder="Enter password" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IsRemember"></label>
                        <input type="checkbox" checked="checked" asp-asp-for="IsActive" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-sm btn-outline-success float-right" value="Log In" />
                    </div>
                  
                </form>
                <a class="text-primary" asp-action="ForgotUserName">ForgotUserName ?
                 </a></br>
                 <a class="text-primary" asp-action="ForgotPassword">ForgotPassword ?</a>
                </br>
                <a class="text-light btn btn btn-primary font-weight-bold" asp-action="SignUp" asp-controller="Account">SignUp</a>
            </div>
        </div>

    </div>
</div>


